# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Mostly integers and floating point numbers, do not need '' to be expressed in Python. 

Strings: Strings are a sequence for text-based information, need '' to be expressed in Python.

Lists: Lists are a type of mutable sequence, has elements (may be mixed types) and are constructed with [] and commas that separate each value. Lists can be assigned to a variable, indexed/sliced. Extension into matrix?

Tuples: Tuples are a type of immutable list, has elements (may be mixed types) and are constructed with () and commas that separate each value. Tuples can be assigned to a variable, indexed.

Dictionaries: Dictionaries are an unordered collection (set) of objects (any type of object) stored by a key, form of mapping. Will not retain order.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
(5**2 * 8 / 2) + 1 - 0.75

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [2]:
2/3

0

Will return 0, classic division. Need to put in a floating point number for true division (i.e. specify one number as float).

Or use Python 3, import division from future.

In [3]:
2.0/3

0.6666666666666666

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [4]:
4 * (6 + 5)

44

In [5]:
4 * 6 + 5

29

In [6]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?

In [7]:
type(3 + 1.5 + 4)

float

_Markdown_ and LaTeX: $$alpha^2

What would you use to find a numberâ€™s square root, as well as its square?

Use index to find square root and square:

In [10]:
100 ** 0.5

10.0

In [11]:
10 ** 2

100

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [12]:
s = 'hello'
# Print out 'e' using indexing
s[1]
# Code here

'e'

Reverse the string 'hello' using indexing:

In [13]:
s ='hello'

# Reverse the string using indexing
s[::-1]

# Code here

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [18]:
s ='hello'

# Print out the
s[-1]

# Code here

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [21]:
list = [0,0,0]
list

[0, 0, 0]

In [20]:
[0]*3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [24]:
l = [1,2,[3,4,'hello']]
l[2][2] = 'goodbye'
l

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [27]:
l = [5,3,4,6,1]
l.sort()
l

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [28]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [29]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [44]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [43]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

No - dictionary is a mapping (not a sequence), is stored by relative position, order is not retained

## Tuples

What is the major difference between tuples and lists?

Tuples are immutable, while lists are mutable.

How do you create a tuple?

Use () separated by commas.

t = (1,2,3)

## Sets

What is unique about a set?

Sets only contain unique elements, i.e. don't allow for duplicate items.

Use a set to find the unique values of the list below:

In [45]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set(l)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [49]:
# Answer before running cell - false
2 > 3

False

In [50]:
# Answer before running cell - false
3 <= 2

False

In [51]:
# Answer before running cell - false
3 == 2.0

False

In [52]:
# Answer before running cell - true
3.0 == 3

True

In [53]:
# Answer before running cell - false
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [54]:
# two nested lists - false
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!